<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>TODO write content</div>
        <script>
            var xhr = new XMLHttpRequest();
            xhr.response
            xhr.onreadystatechange(function(state) {
                console.log("State changed", state);
            });
            xhr.open('GET', '/appdasd_dev.php/chech-status', true);
        </script>
    </body>
</html>
